{% extends 'base.html'%}
{% load static %}

{% block css%}
<style>
    #titlos-main {
        background:url({% static 'pw_maze_black_2X.png' %});
    }

    .titlos {
        text-align: center;
        padding: 17px;
        color: white;
        margin: 20px -3.5%;
        margin-top: 0;
        font-weight: bold;
    }
</style>
{% endblock %}

{% block content %}

<div style="width: 100%;">
    <h1 id="titlos-main" class="titlos">Εξέταση</h1>

    <div class="form-group" style="padding:1%;">
        <form method="POST">
            {% csrf_token %}
            <div class="form-check">
                {{form.epitixia}}
                <label class="form-check-label"> <strong> Επυτιχία</strong></label>
            </div>
            <br>
            <label>Ημ. Εξέτασης</label>
            {{form.kup}}
            <br>
            <div class="form-group">
                <label>Σχόλια</label>
                {{form.comment}}
            </div>

            <div class="d-flex">
                <div class="p-2">
                    <button type="button" class="btn btn-secondary" data-toggle="modal"
                        data-target="#Akirosi">ΑΚΥΡΩΣΗ</button>
                </div>
                <div class="ml-auto p-2">
                    <button type="button" class="btn btn-danger" data-toggle="modal"
                        data-target="#Delete">ΔΙΑΓΡΑΦΗ</button>
                </div>

                <!-- delete Modal -->
                <div class="modal fade" id="Delete" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Ακύρωση</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Είστε σίγουροι ότι θέλετε να το Διαγράψεται
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Κλήσιμο</button>
                                <button type="submit" name="delete" class="btn btn-danger">Διαγραφή</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ml-auto p-2">
                    <button type="submit"  class="btn btn-success">ΑΠΟΘΗΚΕΥΣΗ</button>
                </div>
            </div>

        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Akirosi" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ακύρωση</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Είστε σίγουροι ότι θέλετε να το ακυρώσετε
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Κλήσιμο</button>
                <a href="/{{mathitis.id}}/exetasi"><button type="button" class="btn btn-danger">Ακύρωση</button></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
