{% extends 'base.html'%}
{% load static %}

{% block css%}
<style>
    #titlos-main {
        background:url({% static 'pw_maze_black_2X.png' %});
    }

    .titlos {
        text-align: center;
        padding: 17px;
        color: white;
        margin: 20px -3.5%;
        margin-top: 0;
        font-weight: bold;
    }
</style>
{% endblock %}
{% block content %}

<div style="width: 100%;">
    <h1 id="titlos-main" class="titlos">Πληροφορίες Μαθητή</h1>
    <div class="form-group" style="padding:1%;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <label>Όνομα *</label>
                    {{ form.onoma }}
                </div>
                <div class="col">
                    <label>Επώνυμο *</label>
                    {{ form.epitheto }}
                </div>
            </div>
            <br>
            <div class="row align-items-end">
                <div class="col custom-file" style="margin:0 0 0 15px;">
                    {{ form.fotographia }}
                    <label class="custom-file-label" for="customFile">Φωτογραφία Μαθητή</label>
                </div>
                <div class="col">
                    <label>Ημ. Γεννήσεως *</label>
                    {{ form.genethlia }}
                </div>
            </div>

            <br>
            <div class="row">

                <div class="col">
                    <label>Κινητό Τηλ.</label>
                    {{ form.kinito }}
                </div>
                <div class="col">
                    <label data-toggle="modal" data-target="#Groups" style="cursor: pointer;">Group</label>
                    {{ form.group }}
                </div>
                
            </div>
            <br>
            <div>
                <label>Διεύθυνση</label>
                {{ form.diefthinsi }}
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label>Περιοχή</label>
                    {{ form.perioxi }}
                </div>
                <div class="col-3">
                    <label>T.K</label>
                    {{ form.tk }}
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col">
                    <label>Τηλ. Οικίας</label>
                    {{ form.tilefonoS }}
                </div>
                <div class="col">
                    <label>Έναρξη μαθημάτων *</label>
                    {{ form.enarksi }}
                </div>
            </div>
            <br>
            <div class="d-flex">
                <div class="p-2">
                    <button type="button" class="btn btn-secondary" data-toggle="modal"
                        data-target="#Akirosi">ΑΚΥΡΩΣΗ</button>
                </div>
                <div class="ml-auto p-2">
                    <button type="button" class="btn btn-danger" data-toggle="modal"
                        data-target="#Delete">ΔΙΑΓΡΑΦΗ</button>
                </div>

                <!-- delete Modal -->
                <div class="modal fade" id="Delete" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Ακύρωση</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Είστε σίγουροι ότι θέλετε να το Διαγράψεται
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Κλήσιμο</button>
                                <button type="submit" name="delete" class="btn btn-danger">Διαγραφή</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ml-auto p-2">
                    <button type="submit"  class="btn btn-success">ΑΠΟΘΗΚΕΥΣΗ</button>
                </div>
            </div>

        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Akirosi" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ακύρωση</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Είστε σίγουροι ότι θέλετε να το ακυρώσετε
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Κλήσιμο</button>
                <a href="/{{mathitis.id}}"><button type="button" class="btn btn-danger">Ακύρωση</button></a>
            </div>
        </div>
    </div>
</div>

<!-- Groups Modal -->
<div class="modal fade" id="Groups" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Groups</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% for i in groups.last.groupNum|make_list %}
                <br>
                <div class="container">
                    <ul class="list-group">
                        <li class="list-group-item active" aria-current="true" style="text-align: center;"><strong>Group
                                {{forloop.counter}}</strong></li>
                        {% for group in groups %}
                        {% if group.group == i|slugify %}
                        <li class="list-group-item">{{group.mera}} (
                                {{group.arxi|time:"H:i"}} - {{group.telos|time:"H:i"}} )</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Κλήσιμο</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
    group = document.getElementById("id_group")
    group.classList.add("form-control");

    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
{% endblock javascript %}